.testimonyContainer {
    position: relative;
    width: 100%;
    height: 90vh;
    min-height: 600px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.testimony-infoContainer {
    width: 30%;
    color: var(--white-color);
}

.testimony-starsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.testimony-starsContainer img {
    width: 20px;
}

.testimony-text-quote {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.563rem;
    text-align: center;
    margin: 0;
    margin-top: 16px;
}

.testimony-text-quote2 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    text-align: center;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 42px;
}

.image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    z-index: -1;
}