.formContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 770px;
}

.form-labelInputContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.formContainer label {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.563rem;
    text-align: left;
}

.formContainer input,
.formContainer textarea {
    width: 100%;
    border: 1px solid var(--text-color);
    margin-bottom: 16px;
    margin-top: 8px;
    box-sizing: border-box;
}

.formContainer input {
    height: 2.938rem;
}

.formContainer textarea {
    height: 12rem;
}

.form-firtsLastName {
    width: 100%;
    display: flex;
    gap: 24px;
}

.form-buttonContainer {
    width: 100%;
    text-align: end;
    margin-top: 44px;
}