.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 35px;
    color:  var(--text-color);
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}

.headerContainer-utilsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 46px;
}